<%= provide :title, t("static_page.about.title") %>
<p>
  <%= t "static_page.about.para1" %> <%= link_to t("static_page.home.link1"), Settings.about.link1 %> <%= t "static_page.about.para2" %>
  <%= link_to t("static_page.about.link2"), Settings.about.link2 %> <%= t "static_page.about.para3" %>
  <%= link_to t("static_page.about.link3"), Settings.about.link3 %> <%= t "static_page.about.para4" %>
  <%= link_to t("static_page.about.link4"), Settings.about.link4 %>
  <%= t "static_page.about.para5" %>
  <%= link_to t("static_page.about.link5"), Settings.about.link5 %>.
  <%= t "static_page.about.para6" %>
</p>
