<%= provide :title, t("static_page.help.title") %>
<h1><%= t "static_page.help.title" %></h1>
<p>
  <%= t "static_page.help.para1" %>
  <%= link_to t("static_page.help.link1"), Settings.help.link1 %>
  <%= t "static_page.help.para2" %>
  <%= link_to t("static_page.help.link2"), Settings.help.link2 %>
  <%= t "static_page.help.para3" %>
</p>
