<%= provide :title, t("static_page.home.title") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t "micro.micro_feed" %></h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t "static_page.home.para1" %></h1>
    <h2>
      <%= t "static_page.home.para2" %>
      <%= link_to t("static_page.home.link1"), Settings.home.link1 %>
      <%= t "static_page.home.para3" %>
    </h2>
    <%= link_to t("static_page.home.para4"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  <%= link_to image_tag("Rails-Logo.png",id: "rails-logo", alt: "Rails logo"), Settings.home.link2 %>
<% end %>
