<%= provide :title, t("static_page.home.title") %>
<h1><%= t "static_page.home.para1" %></h1>
<p>
  <%= t "static_page.home.para2" %>
  <%= link_to t("static_page.home.link1"), Settings.home.link1 %>
  <%= t "static_page.home.para3" %>
</p>
