<% @user ||= current_user %>
<div class="stats">
  <%= link_to following_index_path do %>
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <%= t "relationships.following" %>
  <% end %>
  <%= link_to followers_path do %>
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <%= t "relationships.following" %>
  <% end %>
</div>
