<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= render "rails_default" %>
    <%= render "shim" %>
  </head>

  <body>
    <%= render "header" %>
    <div class="container">
      <%= yield %>
      <%= render "footer" %>
    </div>
  </body>
</html>
