<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= t "static_page.home.link1" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= yield %>
    <ul>
      <li><%= link_to t("english"), locale: "en" %></li>
      <li><%= link_to t("vietnamese"), locale: "vi" %></li>
    </ul>
  </body>
</html>
